body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(45deg,black, crimson);
    overflow-x: hidden;
}

.calculator-area {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calculator {
    width: 350px;
    height: 500px;
    background-color: #000;
    border-radius: 20px;
}

.text {
    color: #fff;
    padding: 10px;
    margin: auto;
    font-size: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.tela {
    background-color: #fff;
    margin: auto;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.tela .numeros {
    color: #000;
    font-size: 40px;
}

.botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    margin-top: 10px;
    margin-left: 25px;
    width: 300px;
    height: 420px;
    justify-content: center;
}

.zero {
    grid-column: 1 / 3;
    grid-row: 5 / 6;

}

.igual {
    grid-column: 4 / 5;
    grid-row: 4 / 6;
}

.botao {
    background-color: rgb(31, 31, 31);
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #fff;
}

.botao:hover {
    background-color: #333;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    color: #fff;
}

footer div a {
    text-decoration: none;
    color: #dc143c;
}

footer div a:hover {
    opacity: 0.5;
    cursor: pointer;

}